
#rtf .container{
	
	margin:20px auto;
	padding:5px;
	background-color: #eeeeee;
	
    
	font-family: 'Poppins', sans-serif;
}
#rtf img{
	max-width:80%;
	max-height:60%;
	margin:5px,5px,5px,5px;
	padding: 25px 25px 25px 25px;
	border-radius: 15px;
	
}
#rtf h1 {
	text-align:left;
    font-size:2.5em;
	text-decoration: black;
	transform: translate(0px,100px);
}
#rtf h3 {
    		transform: translate(900px,-300px);
	text-align:center;
	text-decoration: black;

}
#rtf h4 {
    		transform: translate(900px,-300px);
	text-align:center;
	text-decoration: black;

}
#rtf .maila{
    text-align:center;
	padding-bottom:45px;
}
#rtf a{
	text-decoration:none;
	font-size:1em;
	color:grey;
	padding:10px;
	border:1px solid grey ;
    box-shadow:0px 0px 2px 1px lightgrey;
	border-radius:5px;
}
#rtf a:hover{
	box-shadow:0px 0px 2px 1px grey;
}